html {

    height: 100%; /*ELIMINA I MARGINI AUTOMATICI QUANDO RIDIMENSIONI*/

    /*background-color: blueviolet;*/

}





body {

    background-color: rgb(179, 171, 161);

    /*background-size: cover;>*/ /*MANTIENE L'IMMAGINE CENTRATA*/

    /*background-repeat: no-repeat;*/ /*RIPETE L'IMMAGINE UNA SOLA VOLTA*/

    /*background-position: center;*/ /*RIDIMENSIONA L'IMMAGINE SEMPRE AL CENTRO*/

    width: 100%;

    margin: 0px; /*elimina margine automatico di 5px in Firefox e altri browser*/

}





header {

    background-color: white;

    width: 100%;

    text-align: center;

}





header .logo-small {

    width: 100%;

    height: 100%;

    /*max-height: 110px;*/

    max-width: 300px;

    margin-left: auto;

    margin-right: auto;

}

@media only screen and (min-width: 300px) {

    header .logo-small {

        display: none;

    }

}





header .logo-big {

    display: none;

    width: 100%;

    height: 100%;

    max-width: 500px;

    padding-top: 5px;

    padding-bottom: 5px;

    margin-left: auto;

    margin-right: auto;

}

@media only screen and (min-width: 300px) {

    header .logo-big {

        display: block;

    }

}





nav {

    background-color: black;

    width: 100%;

    height: auto;

    text-align: center;

}





nav .nav-box {

    background-color: rgb(0, 0, 0);

    width: 100%;

    max-width: 660px;

    height: auto;

    margin-left: auto;

    margin-right: auto;

    display: flex; /*passaggio 1/2 per giustificare img*/

    justify-content: space-between; /*passaggio 2/2 per giustificare img*/

    font-family: 'Courier New', Courier, monospace;

    line-height: 25px;

    font-style: oblique;

    text-align: center;

    padding-top: 8px;

    padding-bottom: 8px;

}



nav .nav-text {

    text-decoration: none;

    color: white;

    display: none

}

@media only screen and (min-width: 430px) {

    nav .nav-text {

        display: block;

    }

}





nav a {

    display: contents; /*elimina bordi inferiori del link*/

}

@media only screen and (min-width: 430px) {

    nav a {

        display: none;

    }

}





nav .nav-icon {

    background-color: transparent;

    height: 20px;

    width: 20px;

    padding-left: 6px;

    padding-right: 6px;

}

@media only screen and (min-width: 430px) {

    nav .nav-icon {

        display: none;

    }

}





main {

    background-color: white;

    color: black;

    font-family: 'Courier New', Courier, monospace;

    max-width: 650px;

    margin-left: auto;

    margin-right: auto;

    padding-left: 10px;

    padding-right: 10px;

    padding-top: 15px;

    padding-bottom: 40px;

    text-align: left;

}





main h1 {

    font-size: large;

    padding-bottom: 5px;

}

@media only screen and (min-width: 400px) {

    main h1 {

        font-size: x-large;

        padding: 35px;

    }

}





main h2 {

    font-size: small;

    font-weight: normal;

    padding-bottom: 5px;

}

@media only screen and (min-width: 400px) {

    main h2 {

        font-size: medium;

        font-weight: normal;

        padding-left: 35px;

        padding-right: 35px;

        padding-bottom: 20px;

    }

}





main p {

    font-size: small;

    margin: 0%;

}

@media only screen and (min-width: 400px) {

    main p {

        font-size: medium;

        margin: 0%;

    }

}





main .text-link {

    text-decoration: none;

    font-size: small;

    color: black;

    font-weight: normal;

}

@media only screen and (min-width: 400px) {

    main .text-link {

        font-size: medium;

    }

}





main .gallery {

    background-color: transparent;

    width: 100%;

    height: auto; /*step 1/3 per galleria con elementi dinamici*/

    text-align: center; /*step 2/3 per galleria con elementi dinamici (centra le immagini)*/

}





main .gallery-item {

    background-color: transparent;

    max-width: 300px;

    margin: 10px;

    display: inline-block; /*step 3/3 per galleria con elementi dinamici*/   

}





main .img-gallery {

    width: 100%;

    height: 100%;

}




ul {

    /*background-color: blue;*/

    margin-top: 0px;

    padding-left: 35px;

}

@media only screen and (min-width: 400px) {

    ul {

        /*background-color: blue;*/

        margin-top: -10px;

        padding-left: 80px;

    }

}





main .contact-me {

    background-color: transparent;

    border: 1.5px solid black;

    width: 100%;

    height: auto;

    display: inline-block;

    text-align: center;

    color: black;

    text-decoration: none;

    padding-top: 10px;

    padding-bottom: 10px;

}





footer {

    background-color: black;

    color: white;

    width: 100%;

    /*float: inline-end;*/

    font-family: 'Courier New', Courier, monospace;

    text-align: center;

    /* font-size: 14px; */

    font-size: 15px;

    line-height: 10px;

    padding-left: 10px;

    padding-right: 10px;

    padding-top: 5px;

    padding-bottom: 5px;

}





footer .footer-link {

    background-color: transparent;

    text-decoration: none;

    color: white;

}





footer .footer-icon {

    background-color: transparent;

    /* height: 16px; */

    height: 18px;

    width: 18px;

    padding-right: 10px;

}